# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig
classes/
out/

# VS Code
.vscode/
.code-workspace

# Eclipse
.project
.classpath
.settings/
bin/

# Mac
.DS_Store

# Maven
target/
.mvn/
mvnw
mvnw.cmd
log/
build/

# Gradle
.gradle/
build/

# Node.js / npm / Yarn
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
.pnpm-debug.log
.npm/
.pnpm/
.yarn/
dist/
build/

# Spring Boot
application-*.yml
application-*.properties
!application-example.yml
!application-example.properties
.env
*.log

# React / Next.js
.next/
build/
dist/
coverage/
.env.local
.env.development.local
.env.test.local
.env.production.local